@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ===== MiniGarden Design System ===== */
:root {
    --color-primary: #4CAF50;
    --color-primary-dark: #2E7D32;
    --color-bg: #F6F8F5;
    --color-surface: #F6FFF7;
    --color-text: #1B5E20;
}

/* reset nhẹ */
body {
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--color-bg);
}